@model Ecommerce.Data.HoaDon

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>HoaDon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaKh" class="control-label"></label>
                <select asp-for="MaKh" class ="form-control" asp-items="ViewBag.MaKh"></select>
            </div>
            <div class="form-group">
                <label asp-for="HoTen" class="control-label"></label>
                <input asp-for="HoTen" class="form-control" />
                <span asp-validation-for="HoTen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaChi" class="control-label"></label>
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhiVanChuyen" class="control-label"></label>
                <input asp-for="PhiVanChuyen" class="form-control" />
                <span asp-validation-for="PhiVanChuyen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaTrangThai" class="control-label"></label>
                <select asp-for="MaTrangThai" class ="form-control" asp-items="ViewBag.MaTrangThai"></select>
            </div>
            <div class="form-group">
                <label asp-for="MaNv" class="control-label"></label>
                <select asp-for="MaNv" class ="form-control" asp-items="ViewBag.MaNv"></select>
            </div>
            <div class="form-group">
                <label asp-for="GhiChu" class="control-label"></label>
                <input asp-for="GhiChu" class="form-control" />
                <span asp-validation-for="GhiChu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
