        <!-- Footer Start -->
        <div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5">
            <div class="container py-5">
                <div class="pb-4 mb-4" style="border-bottom: 1px solid rgba(226, 175, 24, 0.5) ;">
                    <div class="row g-4">
                        <div class="col-lg-3">
                            <a href="#">
                                <img src="~/img/fujimart-logo.png" alt="Alternate Text" />
                            </a>
                        </div>
                        <div class="col-lg-6">
                            <div class="position-relative mx-auto">
                                <input class="form-control border-0 w-100 py-3 px-4 rounded-pill" type="number" placeholder="Your Email">
                                <button type="submit" class="btn btn-primary border-0 border-secondary py-3 px-4 position-absolute rounded-pill text-white" style="top: 0; right: 0;">Subscribe Now</button>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="d-flex justify-content-end pt-3">
                                <a class="btn  btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-youtube"></i></a>
                                <a class="btn btn-outline-secondary btn-md-square rounded-circle" href=""><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-5">
                    <div class="col-lg-6 col-md-12">
                        <div class="footer-item">
                    <h4 style="font-weight : bolder", class="text-light mb-3">CÔNG TY TNHH BÁN LẺ FUJIMART VIỆT NAM</h4>
                    <p class="mb-4">Giấy chứng nhận ĐKDN số 0108432911 do Sở Quy Hoạch và Đầu Tư Thành Phố Hà Nội cấp ngày 14/09/2018</p>
                            <a href="" class="btn border-secondary py-2 px-4 rounded-pill text-primary">Read More</a>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6">
                        <div class="d-flex flex-column text-start footer-item">
                            <h4 class="text-light mb-3">Về Chúng Tôi</h4>
                            <a class="btn-link" href="">Giới thiệu</a>
                            <a class="btn-link" href="">Mạng xã hội</a>
                            <a class="btn-link" href="">Báo chí nói về chúng tôi</a>
                            <a class="btn-link" href="">Địa chỉ các chi nhánh</a>
         
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-item">
                            <h4 class="text-light mb-3">Dịch Vụ</h4>
                            <a class="btn-link" href="">Thẻ thành viên FujiMart</a>
                            <a class="btn-link" href="">Chăm Sóc khách hàng</a>
                            <a class="btn-link" href="">Chính sách đổi trả</a>
                            <a class="btn-link" href="">Các câu hỏi thường gặp</a>
                            <img src="img/payment.png" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->